---
layout: default
title: Home
---


<div class="container-fluid p-0">
    <div class="row">
        <div class="col-sm-3 bg-light p-2">
            <span class="profile-image-wrapper">
                <a href="/about/" class="btn bg-transparent" style="padding: 0;" role="button">
                    <img src="./assets/images/2.webp" class="float-left img-thumbnail profile-image-fade"
                        sizealt="Edison Pebojot">
                </a>
            </span>
        </div>
        <div class="col-sm-5 bg-light p-2">
            <span class="desktop__size">
                <h5 style="text-align: left;" class="block accent fixed">Edison Pebojot</h5>
            </span>
            <span class="mobile__size">
                <h5 style="text-align: center;">Edison Pebojot</h5>
            </span>
            <p class="lead" style="text-align: justify">
                Hello, my name is Edison. I’m an engineer and a doctoral candidate, on the verge of earning my PhD. I
                have a passion for outdoor adventures and various other activities. Capturing life’s moments through
                photography is something I enjoy, and I take pleasure in sharing my experiences from the industry, life,
                and the knowledge I’ve gained.
            </p>
            <div class="gap-1">
                <!-- <a href="https://www.quora.com/profile/Edison-Pebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/quora.logo.webp" alt="Quora">
                </a> -->
                <a href="https://twitter.com/pebojote" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/twitter.logo.webp"
                        alt="Twitter">
                </a>
                <a href="https://linkedin.com/in/pebojote" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/linkedin.logo.webp"
                        alt="LinkedIn">
                </a>
                <!-- <a href="https://stackoverflow.com/users/10233884/edison-pebojot?tab=profile" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/stackoverflow.logo.webp"
                        alt="StackOverflow" /></a> -->
                <!-- <a href="https://fb.com/pebojot.e" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/facebook.logo.webp"
                        alt="Facebook" /></a> -->
                <!-- <a href="https://www.codewars.com/users/workpebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/codewars.logo.webp"
                        alt="Codewars" /></a> -->
                <a href="https://github.com/pebojote" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/github.logo.webp"
                        alt="Github" /></a>
                <a href="https://play.google.com/store/apps/dev?id=4722505601855473962" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/google.play.logo.webp"
                        alt="Google Play" /></a>
            </div>
        </div>
        <div class="col-sm-4 bg-light p-2">
            <div class="pt-0 pl-3">
                <p class="card-text">
                    <b>Born:</b> Dingalan, Aurora, Philippines
                </p>
                <p class="card-text">
                    <b>Education:</b> <a href="{{ author.school_link }}">AMA Computer University (MIT - Master in
                        Information Technology)</a>
                </p>
                </p>
                <!-- <p class="card-text">
                    <b>Occupation:</b> Infrastructure Architect
                </p> -->
            </div>
            <div style="display: none;">
                <ul class="list-group">
                    {% for post in site.posts %}
                    <li class="list-group-item">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Blog
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Front-End, Back-End, Full Stack, Architecture
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light p-0">
            <div class="list-group m-1">
                {% for post in site.posts %}
                {% if post.latest==true %}
                {% if post.type=="blog" %}
                <a href="{{ post.blog_url }}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                <img src="{{ post.image_url }}" class="img-thumbnail" alt="{{ post.title }}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ post.excerpt }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ post.short_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ post.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/blog/" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Photograph & Video
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Adventure, Outdoor, Activity, Fun, Trek
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light p-0">
            <div class="list-group m-1">
                <!-- HIKING -->
                {% assign p_v_hiking_data = site.data.p_v_hiking_gallery %}
                {% for p_v_hiking in p_v_hiking_data %}
                {% if p_v_hiking.latest=="true" %}
                <a href="{{ p_v_hiking.page_url }}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                {% if p_v_hiking.type=="video" %}
                                <!-- <div class="embed-responsive embed-responsive-16by9">
                                    <video class="embed-responsive-item w-100" controls>
                                        <source src="{{ p_v_hiking.thumbnail }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div> -->
                                {% youtube p_v_hiking.thumbnail %}
                                {% else %}
                                <img src="{{ p_v_hiking.thumbnail }}" class="img-thumbnail" altp_v_hiking.alt }}">
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ p_v_hiking.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ p_v_hiking.desktop_description }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ p_v_hiking.mobile_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ p_v_hiking.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{p_v_hiking.page_url}}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endfor %}
                <!-- STONE CLIMBING -->
                {% assign p_v_climbing_data = site.data.p_v_climbing_gallery %}
                {% for p_v_climbing in p_v_climbing_data %}
                {% if p_v_climbing.latest=="true" %}
                <a href="{{ p_v_climbing.page_url }}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                {% if p_v_climbing.type=="video" %}
                                <!-- <div class="embed-responsive embed-responsive-16by9">
                                    <video class="embed-responsive-item w-100" controls>
                                        <source src="{{ p_v_climbing.thumbnail }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div> -->
                                {% youtube p_v_climbing.thumbnail %}
                                {% else %}
                                <img src="{{ p_v_climbing.thumbnail }}" class="img-thumbnail" altp_v_climbing.alt }}">
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ p_v_climbing.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ p_v_climbing.desktop_description }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ p_v_climbing.mobile_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ p_v_climbing.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{p_v_climbing.page_url}}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endfor %}
                <!-- BIKING -->
                {% assign p_v_biking_data = site.data.p_v_biking_gallery %}
                {% for p_v_biking in p_v_biking_data %}
                {% if p_v_biking.latest=="true" %}
                <a href="{{ p_v_biking.page_url }}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                {% if p_v_biking.type=="video" %}
                                <!-- <div class="embed-responsive embed-responsive-16by9">
                                    <video class="embed-responsive-item w-100" controls>
                                        <source src="{{ p_v_biking.thumbnail }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div> -->
                                {% youtube p_v_biking.thumbnail %}
                                {% else %}
                                <img src="{{ p_v_biking.thumbnail }}" class="img-thumbnail" altp_v_biking.alt }}">
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ p_v_biking.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ p_v_biking.desktop_description }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ p_v_biking.mobile_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ p_v_biking.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{p_v_biking.page_url}}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Podcast
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Engineering, Architecture, Science
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light p-0">
            <div class="list-group m-1">
                <!-- PODCAST -->
                {% assign software_engineering_playlist_podcast_data = site.data.software_engineering_playlist_podcast %}
                {% for software_engineering_playlist_podcast in software_engineering_playlist_podcast_data %}
                {% if software_engineering_playlist_podcast.latest=="true" %}
                <a href="{{ software_engineering_playlist_podcast.page_url }}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                {% if software_engineering_playlist_podcast.type=="video" %}
                                <!-- <div class="embed-responsive embed-responsive-16by9">
                                             <video class="embed-responsive-item w-100" controls>
                                                 <source src="{{ software_engineering_playlist_podcast.thumbnail }}" type="video/mp4">
                                                 Your browser does not support the video tag.
                                             </video>
                                         </div> -->
                                {% youtube software_engineering_playlist_podcast.thumbnail %}
                                {% else %}
                                <img src="{{ software_engineering_playlist_podcast.thumbnail }}" class="img-thumbnail" altsoftware_engineering_playlist_podcast.alt }}">
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ software_engineering_playlist_podcast.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ software_engineering_playlist_podcast.desktop_description }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ software_engineering_playlist_podcast.mobile_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ software_engineering_playlist_podcast.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="{{software_engineering_playlist_podcast.page_url}}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Project
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Linux, Android, Progressive Web App, Package
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light p-0">
            <div class="list-group m-1">
                {% for post in site.posts %}
                {% if post.latest==true %}
                {% if post.type=="project" %}
                <a href="{{ post.project_url }}" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                <img src="{{ post.image_url }}" class="img-thumbnail" alt="{{ post.title }}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ post.excerpt }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ post.short_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ post.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/project/" class="list-group-item list-group-item-action border-0 p-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>