<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center bg-light p-0">
                <div class="list-group m-1">
                    <span class="list-group-item list-group-item-action border-0 p-0"
                        style="background-color: transparent text-left">
                        &copy; 2023 Edison Pebojot
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>