<span class="navbar__mobile">
    <div class="dropdown">
        <a id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="home-hover block">
                Explore
            </span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            {% assign nav_items = site.data.navigation %}
            {% for item in nav_items %}
            {% if item.link and item.name %}
            <li>
                {% if item.name=="Research" %}
                    <a class="dropdown-item" href="#"
                    title="{{ item.title }}" disabled>
                        <span class="home-hover fixed">
                            {{ item.name }}
                        </span>
                    </a>
                {% else %}
                    <a class="dropdown-item {% if page.url == item.link %}active{% endif %}" href="{{ item.link }}"
                    title="{{ item.title }}">
                        <span class="home-hover block">
                            {{ item.name }}
                        </span>
                    </a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</span>


{% for item in site.data.navigation %}
{% if item.link=="/"%}
<span class="d-flex flex-grow-1">
    <!-- Name -->
    <span class="navbar__desktop">
        <span class="justify-content-end nav nav-tabs navbar-nav mr-auto mb-2 mb-lg-0 pt-1 border-0">
            {% if item.link=="/"%}
            <a class="nav-link {% if page.url==item.link %}active bg-transparent{% endif %} border-0" data-toggle="tabs"
                href="{{ item.link }}">
                <span class="home-hover block">
                    {{ item.name }}
                </span>
            </a>
            {% endif %}
        </span>
    </span>
</span>
{% endif %}
{% endfor %}

<!-- Navigation -->
<!-- Existing code for navbar__mobile -->

{% for item in site.data.navigation %}
<span class="navbar__desktop">
    <span class="justify-content-end nav nav-tabs navbar-nav mr-auto mb-2 mb-lg-0 pt-1 border-0">
        {% if item.link!="/"%}
        <a class="nav-link {% if page.url==item.link %}active bg-transparent{% endif %} border-0" data-toggle="tabs"
            href="{{ item.link }}">
            <span class="home-hover block">
                {{ item.name }}
            </span>
        </a>
        {% endif %}
    </span>
</span>

{% endfor %}