{% for item in site.data.navigation %}
  {% if item.link=="/" %}
    <span class="d-flex flex-grow-1">
      <span class="navbar__desktop">
        <span class="justify-content-end nav nav-tabs navbar-nav mr-auto mb-2 mb-lg-0 pt-1 border-0">
          {% if item.link=="/" %}
            <a class="nav-link {% if page.url==item.link %}active bg-transparent{% endif %} border-0" data-toggle="tabs" href="{{ item.link }}">
              <span class="home-hover block">
                {{ item.name }}
              </span>
            </a>
          {% endif %}
        </span>
      </span>
      <span class="navbar__mobile">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="mobileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ item.name }}
          </button>
          <div class="dropdown-menu" aria-labelledby="mobileDropdown">
            <a class="dropdown-item {% if page.url==item.link %}active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
            <!-- Add more dropdown items if needed -->
          </div>
        </div>
      </span>
    </span>
  {% endif %}
{% endfor %}

<!-- Additional HTML code for other elements (e.g., navbar__mobile, navbar__desktop) -->

<span class="navbar__mobile">
  <div class="d-flex align-items-center gap-1">
    <!-- Your existing mobile navigation buttons -->
    <a href="/blog/" class="btn {% if page.url=='/blog/' %}btn-light{% endif %}">
      <img src="/assets/images/blog.webp" class="img-fluid" alt="Blog">
    </a>
    <a href="/project/" class="btn {% if page.url=='/project/' %}btn-light{% endif %}">
      <img src="/assets/images/project.webp" class="img-fluid" alt="Project">
    </a>
  </div>
</span>

{% for item in site.data.navigation %}
  <span class="navbar__desktop">
    <span class="justify-content-end nav nav-tabs navbar-nav mr-auto mb-2 mb-lg-0 pt-1 border-0">
      {% if item.link!="/" %}
        <a class="nav-link {% if page.url==item.link %}active bg-transparent{% endif %} border-0" data-toggle="tabs" href="{{ item.link }}">
          <span class="home-hover block">
            {{ item.name }}
          </span>
        </a>
      {% endif %}
    </span>
  </span>
{% endfor %}
