#navbar {
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Example shadow, adjust as needed */
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.line,
.line1,
.line2 {
  margin: 5px 0;
  height: 2px;
}

.line {
  background: repeating-linear-gradient(to right, red 0, red 5px, transparent 5px, transparent 7px);
  /* 5px red then 2px transparent -> repeat this! */
}

.line1 {
  background: repeating-linear-gradient(to right, red 0, red 3px, transparent 3px, transparent 7px);
  /* 3px red then 4px transparent -> repeat this! */
}

.line2 {
  background: repeating-linear-gradient(to right, red 0, red 10px, transparent 10px, transparent 12px);
  /* 10px red then 2px transparent -> repeat this! */
}

.home-hover:hover {
  border-bottom: 5px solid #3FEEE6;
}

.main-hover:hover {
  border-bottom: 5px solid #E7717D;
}

.profile-image-wrapper {
  display: inline-block;
  background: #EDF5E1;
}

.profile-image-fade {
  vertical-align: top;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  opacity: 1;
}

.profile-image-fade:hover {
  opacity: 0.7;
}

#flex-gh-button-hide,
.date__text-one--active,
.navbar__desktop,
.desktop__size {
  display: inline;
}

.date__text-two--active,
.navbar__mobile,
.mobile__size {
  display: none;
}

@media only screen and (max-width: 600px) {
  #flex-gh-button-hide,
  .date__text-one--active,
  .navbar__desktop,
  .desktop__size {
    display: none;
  }

  #flex-gh-button-show,
  .date__text-two--active,
  .navbar__mobile,
  .mobile__size {
    display: inline;
  }
}

/* Custom styling for different image sizes */
.custom-img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 576px) {
  /* Adjust styles for small devices (sm) */
  .custom-img {
    /* Customize as needed for small devices */
  }
}

@media (min-width: 768px) {
  /* Adjust styles for medium devices (md) */
  .custom-img {
    /* Customize as needed for medium devices */
  }
}

@media (min-width: 992px) {
  /* Adjust styles for large devices (lg) */
  .custom-img {
    /* Customize as needed for large devices */
  }
}

@media (min-width: 1200px) {
  /* Adjust styles for extra-large devices (xl) */
  .custom-img {
    /* Customize as needed for extra-large devices */
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.background-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}